<!DOCTYPE html>
<html>
  <head>
    <title>Vue 3 Basics</title>
    <style>
      .box {
        width: 200px;
        height: 200px;
        background-color: maroon;
      }
      .box.two {
        background-color: green;
      }
      .box.three {
        background-color: blue;
      }
      [v-cloak] {
        display: none;
      }
      input {
        display: block;
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <div id="app" v-cloak>
      <login-form> </login-form>

      <hr />
      <button @click="toggleBox">Toggle Box</button>
      <div v-if="isVisible === true" class="box"></div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      let app = Vue.createApp({
        data: function () {
          return {
            greeting: "Hello Vue!",
            isVisible: false,
          };
        },
        methods: {
          toggleBox() {
            this.isVisible = !this.isVisible;
          },
          greet(greeting) {
            alert(greeting);
          },
        },
      });
      // define a global component
      app.component("login-form", {
        template: `
            <form @submit.prevent="handleSubmit">
                <h1>{{ title }}</h1>
                <custom-input v-model="email" v-bind:label="emailLabel" />
                <custom-input v-model="password" v-bind:label="passwordLabel" />
                <button>Submit</button>
            </form>
        `,
        components: ["custom-input"],
        data() {
          return {
            title: "Login Form",
            email: "test@email.com",
            password: "abc123",
            emailLabel: "Email",
            passwordLabel: "Password",
          };
        },
        methods: {
          handleSubmit() {
            console.log("Submitted", this.email, this.password);
          },
        },
      });
      app.component("custom-input", {
        template: `
                <label>
                    {{ label }}
                    <input type="text" v-model="inputValue"/>
                </label>
        `,
        // props are immutable when passed from parent to child
        props: ["label", "modelValue"], // get the value from the parent component
        computed: {
          inputValue: {
            get() {
              return this.modelValue;
            },
            set(value) {
              // emit an event to the parent component to update the value
              this.$emit("update:modelValue", value);
            },
          },
        },
      });
      app.mount("#app");
    </script>
  </body>
</html>
