<!DOCTYPE html>
<html>
  <head>
    <title>Vue 3 Basics</title>
    <style>
      .box {
        width: 200px;
        height: 200px;
        background-color: maroon;
      }
      .box.two {
        background-color: green;
      }
      .box.three {
        background-color: blue;
      }
      [v-cloak] {
        display: none;
      }
      input {
        display: block;
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <div id="app" v-cloak>
      <hr />
      <button @click="toggleBox">Toggle Box</button>
      <test-box v-if="isVisible" />
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      let app = Vue.createApp({
        data: function () {
          return {
            isVisible: false,
          };
        },
        methods: {
          toggleBox() {
            this.isVisible = !this.isVisible;
          },
        },
        updated() {
          console.log("Updated");
        },
      });
      // define a global component
      app.component("login-form", {
        template: `
            <form @submit.prevent="handleSubmit">
                <h1>{{ title }}</h1>
                <custom-input
                v-for="(input, i) in inputs"
                :key="i"
                v-model="input.value"
                :label="input.label"
                :type="input.type" />
                <button>Submit</button>
            </form>
        `,
        components: ["custom-input", "test-box"],
        data() {
          return {
            title: "Login Form",
            email: "test@email.com",
            inputs: [
              {
                label: "Email",
                value: "",
                type: "email",
              },
              {
                label: "Password",
                value: "",
                type: "password",
              },
            ],
            password: "abc123",
            emailLabel: "Email",
            passwordLabel: "Password",
          };
        },
        methods: {
          handleSubmit() {
            // console.log("Submitted", this.email, this.password);
            console.log(this.inputs[0].value, this.inputs[1].value);
          },
        },
      });
      app.component("custom-input", {
        template: `
                <label>
                    {{ label }}
                    <input :type="type" v-model="inputValue"/>
                </label>
        `,
        // props are immutable when passed from parent to child
        props: ["label", "type", "modelValue"], // get the value from the parent component
        computed: {
          inputValue: {
            get() {
              return this.modelValue;
            },
            set(value) {
              // emit an event to the parent component to update the value
              this.$emit("update:modelValue", value);
            },
          },
        },
      });
      app.component("test-box", {
        template: `
            <div class="box"></div>
        `,
        created() {
          console.log("Created");
        },
        mounted() {
          console.log("Mounted");
        },
        unmounted() {
          console.log("Unmounted");
        },
      });
      app.mount("#app");
    </script>
  </body>
</html>
