<!DOCTYPE html>
<html>
  <head>
    <title>Vue 3 Basics</title>
    <style>
      .box {
        width: 200px;
        height: 200px;
        background-color: maroon;
      }
      .box.two {
        background-color: green;
      }
      .box.three {
        background-color: blue;
      }
      [v-cloak] {
        display: none;
      }
    </style>
  </head>
  <body>
    <div id="app" v-cloak>
      <input @keyup.enter="greet(greeting)" type="text" v-model="greeting" />

      <hr />
      <button @click="toggleBox">Toggle Box</button>
      <div v-if="isVisible === true" class="box"></div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      let app = Vue.createApp({
        data: function () {
          return {
            greeting: "Hello Vue!",
            isVisible: false,
          };
        },
        methods: {
          toggleBox() {
            this.isVisible = !this.isVisible;
          },
          greet(greeting) {
            alert(greeting);
          },
        },
      });
      app.mount("#app");
    </script>
  </body>
</html>
